affine==2.4.0
aiohttp==3.8.1
anytree==2.8.0
arviz==0.12.1
audioread==3.0.0
Babel==2.12.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.7.9
bokeh==2.4.0
CairoSVG==2.5.2
chardet==4.0.0
cryptography==3.4.8
cycler==0.11.0
dlib==19.24.2
docx2txt==0.8
EbookLib==0.18
email-validator==2.0.0.post2
et-xmlfile==1.1.0
Faker==8.13.2
folium==0.12.1
gensim==4.1.0
geographiclib==1.52
geopy==2.2.0
graphviz==0.17
html5lib==1.1
httpcore==0.17.3
httptools==0.6.0
imageio==2.31.1
imageio-ffmpeg==0.4.8
imgkit==1.2.2
iniconfig==2.0.0
ipython==8.12.2
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
json5==0.9.14
jsonschema==4.18.4
keras==2.6.0
librosa==0.8.1
lxml==4.9.3
markdown2==2.4.9
matplotlib==3.4.3
moviepy==1.0.3
mpmath==1.3.0
mutagen==1.45.1
networkx==2.6.3
nltk==3.6.3
numba==0.57.1
numpy==1.21.2
odfpy==1.4.1
olefile==0.46
opencv-python==4.5.2.54
openpyxl==3.0.10
pandas==1.3.2
pdf2image==1.16.3
pdfkit==0.6.1
pdfminer.six==20200517
pdfplumber==0.5.28
pdfrw==0.4
pexpect==4.8.0
Pillow==8.3.2
plotly==5.3.0
psutil==5.9.5
pycountry==20.7.3
pydantic==1.8.2
pydot==1.4.2
pydub==0.25.1
pydyf==0.7.0
pymc3==3.11.5
pypandoc==1.6.3
PyPDF2==1.28.6
pyprover==0.5.6
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-multipart==0.0.6
python-pptx==0.6.21
pyttsx3==2.90
pytz==2023.3
PyWavelets==1.4.1
pyxlsb==1.0.8
PyYAML==6.0.1
pyzbar==0.1.8
qrcode==7.3
rarfile==4.0
rdflib==6.0.0
regex==2023.6.3
requests==2.31.0
resampy==0.4.2
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.3
seaborn==0.11.2
semver==3.0.1
sentencepiece==0.1.99
shap==0.39.0
Shapely==1.7.1
sniffio==1.3.0
SoundFile==0.10.2
soupsieve==2.4.1
spacy==3.1.7
SpeechRecognition==3.8.1
srsly==2.4.7
stack-data==0.6.2
statsmodels==0.14.0
svglib==1.1.0
svgwrite==1.4.1
sympy==1.8
tabula==1.0.5
tabulate==0.8.9
textblob==0.15.3
Theano-PyMC==1.1.2
tifffile==2023.7.10
tinycss2==1.2.1
tomli==2.0.1
torch==1.10.0
torchaudio==0.10.0
torchtext==0.6.0
torchvision==0.11.1
tornado==6.3.2
tqdm==4.64.0
trimesh==3.9.29
tzlocal==5.0.1
urllib3==1.25.8
weasyprint==53.3
wordcloud==1.8.1
xgboost==1.4.2
xlrd==1.2.0
XlsxWriter==3.1.2
xml-python==0.4.3
zipp==3.16.2
